<a href="https://colab.research.google.com/github/uwl-python-ig/pig_notebooks_001/blob/main/mini_python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Exploring "print" function

In [ ]:
#print "str" (string - sequences of character data)
print('Welcome to Wizardton')

Welcome to Wizardton

In [ ]:
#print "int" (integers) and "float" (floating point number)
print(120) 
print(4.265) 
#Note: Numbers (integers and floats) do not require quotation marks.

120
4.265

2. Data Types

In [ ]:
print(type('Juan'))
print(type(13))
print(type(2027.265))

<class 'str'>
<class 'int'>
<class 'float'>

3. Arthmetic Operations

In [ ]:
#Common Arithmetic operations
print(3+4)
print(3*4)
print(8/4)
print(8//4)

7
12
2.0
2

In [ ]:
#Exercise:
#Sheena bought 3 chocolate frogs, while Mary bought 4. How many chocolate frogs did they buy in total?
#What will the result for print(‘3+4’) be? What about print(3+4)? What about (3+'4')?

4. String concatenation

In [ ]:
#combining "str"
print('Welcome'+'to'+'Wizardton')
#note there is no space between the words in the output because each string was treated as-is.

5. Variable assignment

In [ ]:
#assignment variables
#touch on naming convention (no space in variable names)
name='Sheena'
age = 13
graduation_year = 2027.265

In [ ]:
# exercise: what will the result be and why?
name='Sheena'
print(name)
name ='Mary'
print(name)